.navbar{
    background-color: #A31C07;
}

.navbar .navbar-brand{
    color:antiquewhite;
}

.navbar-link{
    text-color: 
}

.navbar .navbar-brand,
.navbar .nav-link {
    color: white !important;
}

.form-group{
    width: 20%;
    margin: auto;
    padding-top: 3%; 
}

.jumbotron{
    padding-top: 3%;
}

.jumbotron-homepage{
    background-color: #FAEEDA;
}

 .btn{
    background-color: #A31C07;
    border:#A31C07 1px solid !important;
    text-align: center;
    display: block;
    margin: 10px auto 0;
}

.btn:hover{
    background-color: #A31C07 !important;
}

.btn-homepage{
    min-width: 180px;
}

.btn-quiz-start{
    background-color: #F1EFE8;
    width: 100%;
    text-align: left;
}

.btn-sign-up{
    background-color: #FFFFFF;
    border-color: #DEE2E6 !important;
    width: 100%;
    text-align: left;
}

.btn-progress {
    width: 100%;
    display: inline-block;  
    margin: 10px 0 0;       
}

.btn-progress.dropdown-toggle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.progress-not_learned{
    background-color: #F1EFE8;
    border: 1px solid #F1EFE8 !important;
    color: #444441;
}

.progress-learned{
    background-color: #A31C07;
    border: 1px solid #A31C07 !important;
}

.progress-learning{
    background-color: #FAEEDA;
    border: #FAEEDA !important;
    color: #633806;
}

.centered{
    display: flex;
    gap: 10px;
    flex-direction: column; 
    align-items: center;
    padding-top: 3%;
}

.quiz-card{
    width: 100% !important;
    max-width: 350px !important;
    margin-bottom: 10%;
}

.progress-cards{
    margin: 2%;
}

.card-body{
    text-align: center !important;
}

.vertically-centered{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.login-card{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow: hidden;
}

.login-card-img{
    width: 50%;
    max-width: 500px;
    height: auto;
    object-fit: cover;
}

.login-form{
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

.form-field{
    padding-bottom: 3%;
}

td, th {
  vertical-align: middle;
}

.correct-selection{
    background-color: green;
}

.incorrect-selection{
    background-color: red;
}

.progress-bar{
    background-color: #A31C07;
}

.progress-bar-learning{
    background-color: #de831c;
}

.progress-bar-new{
    background-color: #756f65;
}