.navbar{
    background-color: #24866c;
}

.navbar .navbar-brand{
    color:antiquewhite;
}

.navbar-link{
    text-color: 
}

.navbar .navbar-brand,
.navbar .nav-link {
    color: white !important;
}

.form-group{
    width: 20%;
    margin: auto;
    padding-top: 3%; 
}

.jumbotron{
    padding-top: 4%;
    padding-bottom: 4%;
}

 .btn{
    background-color: #24866c;
    border:#24866c 1px solid !important;
    text-align: center;
    display: block;
    margin: 10px auto 0;
}

.btn-progress {
    background-color: #24866c;
    border: 1px solid #24866c !important;

    display: inline-block;  /* important inside tables */
    margin: 10px 0 0;       /* no auto-centering */
}

.centered{
    display: flex;
    gap: 10px;
    flex-direction: column; 
    align-items: center;
    padding-top: 3%;
}

.form-field{
    padding-bottom: 3%;
}

td, th {
  vertical-align: middle;
}