<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HSK Vocab</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Include Bootstrap Select CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta3/css/bootstrap-select.min.css">



  <!-- Link to custom CSS -->
  <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">HSK Vocab</a>
      </button>
        <div class="navbar-nav">
          <a class="nav-link" href="/sign_in">Sign in</a>
          <a class="nav-link" href="/sign_up">Sign up</a>
        </div>
      </div>
    </div>
  </nav>
  {% block main %}{% endblock %}
</body>
