{% extends 'layout.html' %}

{% block main %}
<div class = "container w-100 mt-4">
    <h1 class = "text-center">Progress</h1>
    <div class = "row g-3 progress-cards">
        <div class = "col-md-4">
            <div class = "card">
                <div class = "card-body">
                    <div class = "card-title">{{ learned }}</div>
                    Learned
                </div>
            </div>
        </div>
        <div class = "col-md-4">
            <div class = "card">
                <div class = "card-body">
                    <div class = "card-title">{{ learning }}</div>
                    Learning
                </div>
            </div>
        </div>
        <div class = "col-md-4">
            <div class = "card">
                <div class = "card-body">
                    <div class = "card-title">{{ not_learned }}</div>
                    Not learned
                </div>
            </div>
        </div>
    </div>
    <div class = "justify-content-center d-flex">
        <div class="progress" style="width: 50%;">
            <div class="progress-bar" style="width: {{learned/total_words * 100}}%;" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
            <div class="progress-bar progress-bar-learning" style="width: {{learning/total_words * 100}}%;" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
    <p class = "text-center">{{(learned/total_words * 100) | int}}% learned</p>
    <p class = "text-center">{{(learning/total_words * 100) | int}}% learning</p>
    <p class = "text-center">{{(not_learned/total_words * 100) | int}}% not learned</p>

    <table class="table">
    <thead>
      <tr>
        <th scope="col">Hanzi</th>
        <th scope="col">Pinyin</th>
        <th scope="col">English</th>
        <th scope="col">HSK Level</th>
        <th scope="col">Progress</th>
      </tr>
    </thead>
      <tbody>
      {% for i in words %}
      <tr>
      <td> {{ i['hanzi'] }} </td>
      <td> {{ i['pinyin'] }} </td>
      <td> {{ i['english'] }} </td>
      <td> {{ i['hsk_level'] }} </td>
      <!-- <td> {{ i['word_id']}}></td> is word id number-->
      <td>
          <div class="dropdown">
          <button class="btn-progress btn btn-secondary dropdown-toggle progress-{{ ( progress_message[i['word_id']] or 'not_learned' ) | lower | replace(' ', '_') }}" type="button" data-bs-toggle="dropdown" aria-expanded="false">   
              {{ progress_message[i['word_id']] or "Not learned" }}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item status-link" data-word-id = "{{ i['word_id']}}" href="#">Not learned</a>
              <a class="dropdown-item status-link" data-word-id = "{{ i['word_id']}}" href="#">Learning</a>
              <a class="dropdown-item status-link" data-word-id = "{{ i['word_id']}}" href="#">Learned</a>
          </div>
          </div>
      </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}