{% extends 'layout.html' %}

{% block main %}

<div class = "justify-content-center centered align-items-center" style="margin-bottom: 10%;">
<h1>Quiz</h1>
<form action = "/submit_quiz" class="form-group" method="POST">
{% for i in session['quiz_questions'] %}
<div class="card quiz-card">
  <div class="card-body">
    <!-- Show hanzi, pinyin if selected -->
    <h5 class = "card-title">{{ i['hanzi']}}</h5>
    {% if session['show_pinyin'] %}
    <h6>{{i['pinyin']}}</h6>
    {% endif %}
    <!-- Show answer options -->
     {% for j in i['options'] %}
     <div class="form-check">
        <input class="form-check-input" type="radio" name="{{ i['pinyin']}}" id="{{ i['pinyin'] }}_{{ loop.index }}" value="{{ j }}">
        <label class="form-check-label" for="flexRadioDefault1">
            {{ j }}
        </label>
    </div>
     {% endfor %}
  </div>
</div>
{% endfor %}
<button class="btn btn-primary" type="submit">Check</button>
</form>
</div>


{% endblock %}