{% extends 'layout.html' %}

{% block main %}

<div class = "justify-content-center centered align-items-center" style="margin-bottom: 10%;">
<h1>Quiz</h1>
<form action = "/submit_quiz" class="form-group" method="POST">
{% for i in session['quiz_questions'] %}
<div class="card quiz-card">
  <div class="card-body">
    <!-- Show hanzi, pinyin if selected -->
    <h5 class = "card-title">{{ i['hanzi']}}</h5>
    {% if session['show_pinyin'] %}
    <h6>{{i['pinyin']}}</h6>
    {% endif %}
    <!-- Show answer options -->
     {% for j in i['options'] %}
     <div class="mb-2">
        <input class="btn-check" type="radio" name="{{ i['answer_id']}}" id="{{ i['answer_id'] }}_{{ loop.index }}" value="{{ j }}">
        <label class="btn btn-quiz" for="{{ i['answer_id'] }}_{{ loop.index }}">
            {{ j }}
        </label>
    </div>
     {% endfor %}
  </div>
</div>
{% endfor %}
<button class="btn btn-primary btn-hover-dark" type="submit">Check</button>
</form>
</div>


{% endblock %}