{% extends "layout.html" %}

{% block main %}

<div class = "justify-content-center centered align-items-center vertically-centered">
  <div class = "card login-card">
    <img src="/static/images/login.png" class="login-card-img">
    <div class="card-body">
      <div>
         <h1>Log in</h1>
        <form action = "/sign_in" method = "POST" class = "form-group login-form" autocomplete="new-password">
        <div class="justify-content-center form-field">
            <label for="exampleInputEmail1">Email address</label>
            <input name = "email" type="email" class="form-control"aria-describedby="emailHelp" placeholder="Enter email" autocomplete="off" readonly onfocus="this.removeAttribute('readonly')" maxlength="200">
          </div>
          <div class = "form-field">
            <label for="exampleInputPassword1">Password</label>
            <input name = "password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" maxlength="200">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                  {{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              {% endfor %}
            {% endif %}
        {% endwith %}
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}