{% extends 'layout.html' %}

{% block main %}

<div class = "justify-content-center centered align-items-center ">
<h1>Quiz</h1>
  <form action = "/start_quiz" method = "POST" class = "form-group">
    <div class="dropdown form-field">
        <input type="hidden" name="num_questions" id="num_questions" value="10">
          <button class="btn btn-quiz-start dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">   
              Number of questions...
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item">10</a>
              <a class="dropdown-item">15</a>
              <a class="dropdown-item">20</a>
          </div>
    </div> 
    <div class="dropdown form-field">
        <input type="hidden" name="progress_level" id="progress_level" value="learned">
          <button class="btn btn-quiz-start dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">   
              Progress level
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item">Learning</a>
              <a class="dropdown-item">Learned</a>
              <a class="dropdown-item">Not learned</a>
              <a class="dropdown-item">All progress levels</a>
          </div>
    </div> 
    <div class="form-check">
    <input class="form-check-input" type="checkbox" value="true" name = "show_pinyin" id="showPinyin">
        <label class="form-check-label" for="flexCheckDefault">
            Show pinyin
        </label>
    </div>
    <button class="btn btn-primary" type="submit">Start</button>
  </form>
</div>

<script>
    document.querySelectorAll('.dropdown-item').forEach(item => {
        item.addEventListener('click', function() { 
            // update text displayed on button
            const dropdown = this.closest('.dropdown');
            const button = dropdown.querySelector('.dropdown-toggle');
            button.textContent = this.textContent;
            // update hidden input field
            const hiddenInput = dropdown.querySelector('input[type="hidden"]');
            if (hiddenInput) {
                hiddenInput.value = this.textContent.trim().toLowerCase().replaceAll(" ", "_");
            }
        });
    });
</script>


{% endblock %}