{% extends 'layout.html' %}

{% block main %}

<div class = "justify-content-center centered align-items-center d-flex">
<div class = "card quiz-start-card">
    <h1 class = "card-title">Quiz</h1>
    <p class = "card-text">Customise your quiz and get started!</p>
  <form action = "/start_quiz" method = "POST" class = "form-group-quiz">
    <div class="form-field">
        1. Number of questions
        <div class = "row">
            <div class = "col">
                <label class = "form-check card quiz-start-option-card">
                    <div class = "card-body">
                    <input class="form-check-input" type="radio" name="num_questions" id="num_10" value="10">
                        10
                    </div>
                </label>
            </div>
            <div class = "col">
                <label class = "form-check card quiz-start-option-card">
                    <div class = "card-body">
                    <input class="form-check-input" type="radio" name="num_questions" id="num_15" value="15">
                        15
                    </div>
                </label>
            </div>
            <div class = "col">
                <label class = "form-check card quiz-start-option-card">
                    <div class = "card-body">
                    <input class="form-check-input" type="radio" name="num_questions" id="num_20" value="20">
                        20
                    </div>
                </label>
            </div>
        </div>
    </div> 
    <div class = "form-field">
        2. Show words with progress level: 
        <div class = "row">
             {% for i in valid_options %}
             <div class = "col">
                <label class = "form-check card quiz-start-option-card">
                    <div class = "card-body">
                    <input class="form-check-input" type="radio" name="progress_level" id="{{ i }}_progress" value="{{ i }}">
                        {{ i|title | replace("_", "  ") }}
                    </div>
                </label>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="form-field">
        3. Show pinyin?
        <div class = "row">
            <div class = "col">
                <label class = "form-check card quiz-start-option-card">
                    <div class = "card-body">
                        <input class="form-check-input" type="radio" name="show_pinyin" id="pinyin-true" value="true">
                        Yes
                    </div>
                </label>
            </div>
            <div class = "col">
                <label class = "form-check card quiz-start-option-card">
                    <div class = "card-body">
                        <input class="form-check-input" type="radio" name="show_pinyin" id="pinyin-false" value="false">
                        No
                    </div>
                </label>
            </div>
        </div>
    </div>
    <div class="form-check">
    <button class="btn btn-primary" type="submit">Start</button>
  </form>
</div>
</div>

{% endblock %}