{% extends "layout.html" %}

{% block main %}

<div class = "justify-content-center centered align-items-center jumbotron">
    <h1>Welcome {{ name }} </h1>
</div>

<div class = "d-flex gap-3 flex-md-row justify-content-center align-items-center container" style="padding-top: 3%;">
    <a class= "card rounded-4" href="/start_quiz" style="text-decoration: none;">
        <div class="card-body link-card d-flex align-items-center justify-content-center">
            <h1>Start quiz</h1>
        </div>
    </a>
    <a class="card rounded-4" href="/progress" style="text-decoration: none;">
        <div class="card-body link-card d-flex align-items-center justify-content-center">
            <h1>View progress</h1>
        </div>
    </a>
</div>

{% endblock %}